.paragraphs-item-collapsible-paragraphs {
    margin-bottom: 0.5em;
  }
  
  /* Title field (clickable header) */
  
  .collapsible-title {
    flex: 1 1 100%;
    margin: 0.5em auto 0 auto;
    padding: 0.5em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFF;
  }
  
  .paragraphs-item-collapsible-paragraphs > .content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .collapsible-title > h1, .collapsible-title > h2, .collapsible-title > h3,
  .collapsible-title > h4, .collapsible-title > h5, .collapsible-title > h6 {
    margin: 0;
    padding: 0;
  }
  
  /* Collapsible content */
  
  .hfc-show-content {
    display: none;
    width: 100%;
    margin-top: 0;
    padding: 1em;
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
  }
  
  /* Metamajor icons */
  
  .expand-arrow {
    background-image: url("../images/metamajors/plus-icon-white.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    background-size: 30px 30px;
  }
  
  .collapse-arrow {
    background-image: url("../images/metamajors/minus-icon-white.svg");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    background-size: 30px 30px;
  }
  
  /* Plus/Minus icons */
  
  .para-expand-plus {
    display: inline-block;
    padding-right: 45px;
    background-color: #135F84;
    background-image: url("../images/plus-icon-square.svg");
    background-repeat: no-repeat;
    background-position-x: 99.5%;
    background-position-y: center;
    background-size: 2em 2em;
  }
  
  .para-collapse-minus {
    display: inline-block;
    padding-right: 45px;
    background-color: #002D5B;
    background-image: url("../images/minus-icon-square-navy.svg");
    background-repeat: no-repeat;
    background-position-x: 99.5%;
    background-position-y: center;
    background-size: 2em 2em;
  }
  
  /* Open all/Close all buttons */
  
  .hfc-open-all, .hfc-close-all {
    display: inline-block;
    margin: 0.4em 0.4em 0.4em 0;
    padding: 0 0.8em;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFF;
    border: 2px solid transparent;
    background-color: #135F84;
    font-weight: bold;
  }
  
  .hfc-open-all:hover, .hfc-close-all:hover, .hfc-open-all:focus, .hfc-close-all:focus, .hfc-open-all:active, .hfc-close-all:active {
    color: #135F84;
    border: 2px solid #135F84;
    background-color: #FFF;
  }
  