/* original file css */
#google-cse-results-searchbox-form div, #google-cse-results-searchbox-form input {
    margin: 0;
    display: inline;
}

#google-cse-results-searchbox-form .form-radios div {
    display: block;
}


/* overrides on inline styles */


#search-block-form .form-item-search-block-form .form-text {
	border: 2px solid #595959 !important;
}

#search-block-form .form-item-search-block-form .form-text:focus {
  border: 2px solid #002D5B !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
  text-decoration: none !important;
}

.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b, .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b, .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
  color: #002D5B !important;
}
