/**
 * @file
 * Pattern styling.
 */

/** Styling for repeated content patterns, especially for use with paragraphs module **/


/* Container Colors */

  .gray {
    background-color: #DFDEDE;
  }

  .blue {
    background-color: #0054A6;
    color: #fff;
  }

/* Containers */

  /** Highlight Header **/

    .highlight-header > div {
      margin: 0 auto;
      max-width: 1000px;
      padding: 1em 0;
    }

    .highlight-header.paragraphs-item-simple-text-area > div {
      margin: 0 auto;
      max-width: 1000px;
      padding: 1em;
    }

  /** Highlight Banner **/

    .highlight-banner > div {
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 0 auto;
      max-width: 1000px;
      text-align: center;
      overflow: auto;
    }

  /** Color Block **/

    .color-block {
      font-family: Montserrat;
      font-weight: bold;
    }

    .color-block span.blue {
      color: #0054A6;
    }

    .color-block span.white {
      color: #fff;
    }

    .color-block span.gray {
      color: #777779;
    }

/* Grid */

  .para-grid > .content {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    list-style: none;
    list-style-image: none;
  }

  .para-grid > .content > .entity {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }

  .para-grid > .content > .entity > div {
    width: 100%;
  }

  .para-grid.interest-card > .content > .entity {
    width: 400px;
    margin: 0 auto;
  }

  /* fix for extra photo margin */
  .para-grid.photo-fix .content {
    line-height: 0;
  }

  /* mini offset */
  .para-grid.mini-right > .content > .entity > div {
    padding: 1em;
    margin: 0;
  }

  .para-grid.mini-left > .content > .entity > div {
    padding: 1em;
    margin: 0;
  }

  /* line border for separated class */

  .para-grid.separated > .content > .entity > div {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0;
    padding: 0 1em;
    position: relative;
  }

  .para-grid.separated > .content > .entity > div {
    margin: 0;
  }

  .para-grid.separated > .content > .entity img {
    display: block;
  }

  .content .field-item > h2:first-child,
  .content .field-item > h3:first-child {
    margin-top: 0;
  }

  @media only screen and (min-width: 600px) {

    .para-grid > .content > .entity > div {
      margin: 0 0.625em 0.625em 0em;
    }

    .para-grid.separated > .content > .entity > div {
      margin: 0;
    }

  }

  @media only screen and (min-width: 768px) {

    .para-grid.interest-card > .content > .entity {
      width: 100%;
    }

    .para-grid.cols-2 > .content > .entity {
      -moz-box-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
      -webkit-box-flex: 0 1 50%;
      -webkit-flex: 0 1 50%;
      flex: 0 1 50%;
    }

    .para-grid.cols-3 > .content > .entity {
      -webkit-box-flex: 0 1 33.3333%;
      -moz-box-flex:  0 1 33.3333%;
      -webkit-flex:  0 1 33.3333%;
      -ms-flex:  0 1 33.3333%;
      flex: 0 1 33.3333%;
    }

    .para-grid.cols-4 > .content > .entity {
      -webkit-box-flex: 0 1 25%;
      -moz-box-flex:  0 1 25%;
      -webkit-flex:  0 1 25%;
      -ms-flex:  0 1 25%;
      flex: 0 1 25%;
    }

    /* mini offset */
    .para-grid.mini-right > .content > .entity:first-child {
      flex: 0 1 70%;
    }

    .para-grid.mini-right > .content > .entity:last-child {
      flex: 0 1 30%;
    }

    .para-grid.mini-left > .content > .entity:first-child {
      flex: 0 1 30%;
    }

    .para-grid.mini-left > .content > .entity:last-child {
      flex: 0 1 70%;
    }

  }

/* Singles */

  /** News/Events **/

    .event-box .event-date {
      background: #006FBA;
      color: #fff;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
    }

    .event-box .event-title a {
      margin: 0 0 1em 0;
    }

    .event-box .event-title a {
      display: block;
      width: 100%;
      border: 2px solid #dedede;
      border-top: none;
    }

    .event-box .event-title a:focus,
    .event-box .event-title a:hover {
      border: 2px solid #006FBA;
      border-top: none;
    }

  /** Topic List **/

    .topic-title h3,
    .topic-title h4, {
      margin: 0 0 1em 0;
    }

    .topic-title {
      position: relative;
    }

    .topic-info ul {
      list-style-type: initial;
    }

    .topic-item {
      border-top: 1px solid #ccc;
      display: block;
      padding: 1em;
      max-width: 1000px;
      margin: 0 auto;
    }

    .topic-item:last-child {
      border-bottom: 1px solid #ccc;
    }

    @media only screen and (min-width: 640px) {

      .topic-info,
      .topic-title {
        display: inline-block;
        vertical-align: top;
        width: 66%;
      }

     .region-content .field-name-body .topic-info ul {
        margin: 0 0 1.5em 1em;
      }

      .topic-title {
        margin: 0;
        width: 33%;
      }

      .topic-info {
        padding: 0 0 0 2em;
      }

    }

  /** Interest Cards **/

    .para-grid.interest-card > .content > .entity > div {
      background-color: #FEFEFE;
      color: #262729;
      padding: 1em;
    }

    .para-grid.interest-card > .content > .entity h3 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 2px;
    }

    /* Interest Card Colors */

    .para-grid.interest-card > .content > .entity:nth-child(1) > div {
      border-bottom: 7px solid #005B99;
    }

    .para-grid.interest-card > .content > .entity:nth-child(2) > div {
      border-bottom: 7px solid #002D5B;
    }

    .para-grid.interest-card > .content > .entity:nth-child(3) > div {
      border-bottom: 7px solid #777779;
    }

    .para-grid.interest-card > .content > .entity:nth-child(4) > div {
      border-bottom: 7px solid #002D5B;
    }

    .para-grid.interest-card > .content > .entity:nth-child(5) > div {
      border-bottom: 7px solid #ccc;
    }

    .para-grid.interest-card > .content > .entity:nth-child(6) > div {
      border-bottom: 7px solid #777779;
    }

    /* Background Image */

      .hfcglobal-background-image {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

/* Misc Smaller Styles */

  /** Links on blue Backgrounds **/

    .blue a,
    .blue a:visited {
      border-color: #fff;
      color: #fff;
    }

    .blue a:hover,
    .blue a:focus {
      color: #262729;
    }

    .interest-card a,
    .interest-card a:visited {
      border-color: #002D5B;
      color: #002D5B;
    }

    .interest-card a:hover,
    .interest-card a:focus {
      color: #002D5B;
    }

  /** Other Headers and Titles **/

    .underline-header {
      border-bottom: 1px solid #ccc;
    }

    .underline-header:after {
      background-color: #0054A6;
      content: "";
      display: block;
      height: 7px;
      margin: 1em 0 0 0;
      width: 70px;
    }

    .blue-title {
      color: #002D5B;
    }

    .sm-title {
      font-family: Montserrat;
      font-weight: bold;
      text-transform: uppercase;
    }

    .lg-title {
      font-family: Montserrat;
      font-size: 2em;
      font-weight: bold;
      line-height: 1em;
      text-transform: uppercase;
    }

    .center {
      text-align: center;
    }

    .lt-blue-title {
      color: #005B99;
    }

  /** Remove Margin **/

    .no-bottom-margin .content {
      margin-bottom: 0!important;
      padding-bottom: 0!important;
    }

    .no-bottom-margin .content p:last-child {
      margin-bottom: 0;
    }

    @media only screen and (min-width: 600px) {

      .lg-title {
        font-size: 4em;
      }

    }
