body {
  color: #262729;
  font-weight: 400;
  font-family: 'Work Sans', 'Open Sans', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5em;
}

.print-logo {
  display: none;
}

#main {
  margin-left: 15px;
  margin-right: 15px;
}

#page {
  margin-top: 25px;
}

#main-content {
  padding: 0;
}

.block {
  padding: 0;
  margin: 0;
}

.container {
  width: 1500px;
  max-width: 100%;
  padding-right: 3px;
  padding-left: 3px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 3px;
  padding-left: 3px;
}

/* Base theme overrides */
blockquote {
  color: #595959;
}

.marker, .form-required {
  color: #C00000;
}

legend {
  font-size: 1em;
}

.node-unpublished {
  background-color: #fff;
}

span.file > img {
  display: inline;
}

/* Links from futuredriven theme */
a, a:visited, ul.menu li a {
  color: #262729;
  border-bottom: 1px solid #262729;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

a:focus, a:hover, ul.menu li a:focus, ul.menu li a:hover {
    background-color: #8BF4CE;
    color: #262729;
    border-bottom: 2px solid #262729;
}

.dashboard-tabs button:hover, #button-profile-info-toggle:hover, .dashboard-tabs button:focus, #button-profile-info-toggle:focus {
        background-color: #8BF4CE;
        color: #262729;
        border: none;
}

a:hover, a:focus {
  background-color: #dedede;
  border-bottom: transparent;
  transition: none;
  text-decoration: none;
  border-bottom: 3px solid #002d5b;
}

/* No Link Overrides */

.no-link a {
  border: none;
  color: inherit;
  display: block;
}

.no-link a:hover,
.no-link a:focus {
  background-color: transparent;
  color: #262729;
}

a.no-link {
  border-bottom: none;
  color: inherit;
}

a.no-link:hover,
a.no-link:focus {
  background-color: transparent;
  color: #262729;
}

.contextual-links a {
  border-bottom: none;
}

.contextual-links a:hover,
.contextual-links a:focus {
  background-color: transparent;
}

a.contextual-links-trigger:hover,
a.contextual-links-trigger:focus {
  background-color: transparent;
}

/* Edit links for views */

.edit-link {
  font-size: 0.75em;
  margin-bottom: 0.5em;
  padding-left: 0.3125em;
  text-transform: uppercase;
}

.edit-link a {
  color: #555;
  text-decoration: none;
  border-bottom: none;
}

/* Links (styles not in futuredriven) */

a:hover,
a:focus,
ul.menu li a.active,
ul.menu li a:hover,
 #forum thead a:hover,
 #block-node-recent .node-title a:hover {
  cursor: pointer;
}

.region-content ul.menu li,
.region-content ul.menu li.expanded ul {
  border: none;
}

/* Hover text for new window/tab links */

a.new-window-info {
  position: relative;
}

.new-window-info:after {
  display: none;
  content: 'Opens a new window';
}

/* Button styles */

.hfc-button a {
  border-bottom: none;
  color: inherit;
  display: block;
}

.hfc-button a:hover,
.hfc-button a:focus {
  background-color: transparent;
}

a.hfc-button-primary {
  background-color: #002D5B;
  color: #fff !important;
}

/* Specific Views */

.view-committee-meetings .views-row {
  margin: 0 0 2em;
}

.view-committee-meetings .views-field-field-agenda a, .view-committee-meetings .views-field-field-minutes a {
  background-color: rgba(0,84,166,0.2);
  border: 3px solid #0054a6;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #aaa;
  color: #444;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0.25em 1em;
  padding: 0.2em 1em;
  text-decoration: none;
}

.views-field-field-other-documents .item-list ul li {
  border-bottom: none;
  padding-top: 0;
}

.view-it-projects-report .views-field-title img {
  display: inline;
}

.views-field-id-photo img {
  max-height: 150px;
}

/* Top Header */

#header {
  padding: 2em 0 0 0;
  border: none;
  min-height: 100px;
  background-color: #fff;
}

/* Logo */
#logo {
  height: 40px;
  width: 300px;
  margin: 5px;
}

#logo a {
  height: 40px;
  max-width: 300px;
  display: block;
  line-height: 0;
  margin: 0 auto;
  background-image: url(../images/hfc-futuredriven-horizontal.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;

}

/* Menus */
#main-navigation-inside ul.menu li a {
  font-size: 1em;
  line-height: normal;
  text-decoration: none;
  color: #262729;
  display: block;
  padding: 0 0.3em 0.3em 0.3em;
  text-transform: uppercase;
  border-bottom: transparent;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  font-weight: 400;
}

#main-navigation {
  -webkit-box-shadow: 0 5px 5px -5px #262729;
  box-shadow: 0 5px 5px -5px #262729;
  background-color: #fff;
}

#main-navigation-inside nav {
  margin-bottom: 7px;
}


ul.menu li {
  padding: 5px 0;
}

ul.menu li a {
  color: #002D5B;
  display: inline;
  font-size: 1em;
}

ul.menu li.expanded ul {
  padding: 0;
  border-top: 1px dashed #ddd;
  margin-left: 15px;
  margin-right: 15px;
}

.portal-cat ul.menu {
  margin: auto;
  width: fit-content;
  display: table;
  padding: 10px 50px
}

.region-header {
  margin-top: 5px;
}

.region-navigation .content > .menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

ul li.leaf {
  list-style-type: none;
  list-style-image: none;
}

/* Search bar */
#search-block-form {
  margin: 0;
}

.search-form input.form-text {
  width: 70%;
}

/* Search block */

#block-search-form .form-actions,
.sidebar-search-block .form-actions {
  position: relative;
  top:25%;
  right: 20px;
  color: #999;
  font-size: 16px;
}

.logged-in #block-search-form .form-actions,
.logged-in .sidebar-search-block .form-actions {
  margin-top: 10px;
}

#block-search-form input[type=text] {
  margin-right: 25px;
  width: auto;
}

#block-search-form input.form-submit,
.sidebar-search-block input.form-submit {
  z-index: 1; margin: 0;
}

/* Regions */
#dashboard {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 15px;
  margin-bottom: 40px;
}

#sidebar-second {
  margin-left: 15px;
}

/* Bottom Content Region */
#bottom-content {
  background-color: #002D5B;
}

/* Containers */
.header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* overwrites base theme #fcfcfc */
.node.node-teaser,
.page-node- #content-wrapper,
.page-contact #content-wrapper {
  background-color: #ffffff;
  border: none;
}

.breadcrumb {
  background-color: #fff;
}

.light, #block-user-login, #block-poll-recent {
  background: #fff;
}

/* Calendar alert box */
.calendar-alert a {
  background-image: url(../images/icons/info-icon.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 1.5em 1.5em;
  padding-left: 2em;
  margin-bottom:10px;
  display: block;
  border-bottom: none;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.calendar-alert a:hover, .calendar-alert a:focus {
  border-bottom: none;
}

/* Status/Program/Schedule Section */
.dashboard-tabs {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #135F84;
  border-bottom: 1px solid #135F84;
  width:100%;
}

.dashboard-tabs button {
  background-color: #135F84;
  border: none;
  color: #fff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.dashboard-tabs button.current {
  background-color: #fff;
  color: #262729;
}

.dashboard-tabs button:hover, .dashboard-tabs button:focus {
  background-color: rgba(255,255,255,0.7);
  color: #262729;
}

.tab-content {
  border: 1px solid #135F84;
}

#block-views-calendar-alert-box-block {
  margin-bottom: 10px;
}

.region-dashboard-r-content > .block {
  max-height: 300px;
  overflow: auto;
  background-color: #fff;
  padding: 25px;
  display: none;
}

.region-dashboard-r-content > .current {
  display: block;
}

/** schedule **/
#block-myhank-student-schedule h3 {
  color: #0878B2;
  margin-top: 5px;
  margin-bottom: 0;
}

.schedule-action-buttons a {
  margin: .5em;
}

.schedule-detail .item-list > ul > li > span {
  margin: 0 1em;
}

/* Categories Menus */
.portal-acad-icon > .content .block-menu > .content > ul.menu,
.portal-stud-icon > .content .block-menu > .content > ul.menu,
.portal-sss-icon > .content .block-menu > .content > ul.menu  {
  margin: 80px auto 5px auto;
  width: fit-content;
  display: table;
}

.portal-cat .block-menu .content {
  border: 1px solid #135F84;
  margin: 0 10px;
  line-height: 1.5em;
}

.field-name-field-para-block-reference .block-menu > div.content > ul > li.leaf > a {
  font-size: 1em;
  display: inline;
}

.portal-cat .block-menu h2 {
  border-bottom: none;
  margin-left: 10px;
}

.portal-cat > .content > .entity > .content > .field > .field-items > .field-item > .block-menu > .content > .menu li {
    margin: 0 10px;
}

.print-schedule {
  margin-bottom: .5em;
}

/* Category icons */
.portal-tech-icon .block-menu {
  background-image: url(../images/icons/computer-icon.svg);
  background-repeat: no-repeat;
  background-position-y: 55px;
  background-position-x: center;
  background-size: 100px 70px;
}

.portal-stud-icon .block-menu {
  background-image: url(../images/icons/book-icon.svg);
  background-repeat: no-repeat;
  background-position-y: 55px;
  background-position-x: center;
  background-size: 100px 70px;
}

.portal-acad-icon .block-menu {
  background-image: url(../images/icons/grad-icon.svg);
  background-repeat: no-repeat;
  background-position-y: 55px;
  background-position-x: center;
  background-size: 100px 70px;
}

.portal-sss-icon .block-menu {
  background-image: url(../images/icons/computer-icon.svg);
  background-repeat: no-repeat;
  background-position-y: 55px;
  background-position-x: center;
  background-size: 100px 70px;
}

/* News blocks */
.event-date {
  font-weight: bold;
}

.region-content > .block-hfccbane > .content {
    border: 1px solid #135F84;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.upcoming-events-list > li.event-item {
    list-style-type: none;
}

.region-content > .block-hfccbane > .content {
    padding: 15px;
}

.region-content > .block-hfccbane > .content > .item-list > .upcoming-events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.region-content > .block-hfccbane > .content > .item-list {
    width: 100%
}

.region-content > .block-hfccbane > .content > .item-list ul  {
    margin-bottom: 0;
}

.region-content > .block-hfccbane > .content > .item-list ul li  {
    border: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.region-content > .block-hfccbane > .content > .item-list > .upcoming-events-list > .event-item, .hfccbane-tiny {
    flex: 0 1 300px;
}

.region-content > .block-hfccbane > .content > .item-list > .upcoming-events-list > .event-item > .event-title {
    display: block;
}

.region-content > .block-hfccbane > .content > .links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.region-content > .block-hfccbane > .content > .links a {
    background-color: #002D5B;
    border: 2px solid rgba(0, 0, 0, 0);
    color: #FFF !important;
    display: inline-block;
    font-family: 'Work Sans', 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.4em 0;
    padding: 0 0.8em;
    transition: all .2s ease;
}

.region-content > .block-hfccbane > .content > .links a:hover, .region-content > .block-hfccbane > .content > .links a:focus {
    background-color: #FFF;
    border: 2px solid #002D5B !important;
    color: #002D5B !important;
    text-decoration: none;
}


@media only screen and (min-width: 1261px) {
    .region-content > .block-hfccbane > .content > .item-list > .upcoming-events-list > .event-item, .hfccbane-tiny {
        flex: 0 1 175px;
    }
}

#loginsearch-lookup-form .container-inline-date .date-padding {
  float: none;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 500;
  font-family: 'Work Sans', 'Open Sans', sans-serif;
}

/* No longer using vertical rhythm, too much whitespace */

h1 {
  font-size: 1.75em;
  line-height: 1.5em;
  margin: 1em 0 0.5em 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 1em 0 0.5em 0;
}

h3 {
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 1em 0 0.5em 0;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 1em 0 0.5em 0;
}

h5, h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1em 0 0.5em 0;
}

small {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

/* Override header on news, dashboard, and portal-cat menu blocks */
.block-myhank h2, .portal-cat .block-menu h2, .block-hfccbane h2 {
  margin: 0;
}

/** Override header style on "My Teams" **/
.title-sep,
#pre-header h2,
#promoted h2,
.sidebar h2,
#footer h2 {
  font-size: 1.6em;
  line-height: 1.82608696em;
  border-bottom: solid 1px #CCC;
}

/* Separators and lines */
.title-sep:after,
#pre-header h2:after,
#promoted h2:after,
.sidebar h2:after,
#footer h2:after {
  display: none;
}

hr {
  border-top: 2px solid #aaa;
}

/* Dashboard content */

/** profile **/
.myhank-profile-header {
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.myhank-idphoto {
  margin-right: 1em;
}

#button-profile-info-toggle {
  background-color: #fff;
  cursor: pointer;
  color: #002D5B;
  text-align: left;
  border: none;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

#button-profile-info-toggle .profile-button-text {
 margin-right: 10px;
}

#button-profile-info-toggle:hover, #button-profile-info-toggle:focus{
  background-color: #dedede;
}

.welcome-profile {
  color: #262729;
  font-size: 1.2em;
  margin-right: 1.2em;
}

.expand-plus{
  background-image: url('../images/plus-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  display: block;
  height: 25px;
  display: inline-block;
  width: 25px;
  vertical-align: bottom;
}

.collapse-minus{
  background-image: url('../images/minus-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  display: block;
  height: 25px;
  display: inline-block;
  width: 25px;
  vertical-align: bottom;
}

.profile-separator {
  border-bottom: 1px solid #002d5b;
  width: 100%;
  margin-top: 10px;
}

.myhank-profile-header-fields {
  margin-right: 15px;
}

.block-myhank > .content > .field {
  margin-bottom: 10px;
}

.field-name-myhank-phones > .field-label,
.field-name-myhank-email > .field-label {
  font-weight: 600;
}

#dashboard-inside-l {
  -moz-box-flex: 1 1 40%;
  -ms-flex: 1 1 40%;
  -webkit-box-flex: 1 1 40%;
  -webkit-flex: 1 1 40%;
  flex: 1 1 40%;
  margin-right: 3em;
}

#dashboard-inside-r {
  -moz-box-flex: 2 1 50%;
  -ms-flex: 2 1 50%;
  -webkit-box-flex: 2 1 50%;
  -webkit-flex: 2 1 50%;
  flex: 2 1 50%;
}

/* Blur profile information */

.show-profile-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hide-profile-info {
  display: none;
}

/* Grid (paragraphs) */
.paragraphs-item-portal-categories > .content > p {
  margin: 0 25px;
}

.portal-cat.para-grid > .content {
  align-items: stretch;
  justify-content: center;
}

.paragraphs-item-portal-categories > .content > .field-name-field-para-long-text > div ul li {
  list-style: none;
}

.portal-cat .block-menu .content:first-child {
    margin-left: 0;
}

.portal-cat.para-grid > .content > .entity > div:last-child {
  margin-right: 0;
}

/* base theme button  overrides */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin: 5px 5px 10px 0;
  background-color: #002D5B;
  box-shadow: none;
  border: 2px solid transparent;
  padding: 15px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* futuredriven theme buttons */
.hfc-button {
  background-color: #002D5B;
  border: 2px solid rgba(0, 0, 0, 0);
  color: #FFF !important;
  display: inline-block;
  font-family: 'Work Sans', 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.4em 0;
  padding: 0 0.8em;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.hfc-button:hover,
.hfc-button:focus {
  background-color: #FFF;
  border: 2px solid #002D5B !important;
  color: #002D5B !important;
  text-decoration: none;
}

/* Extra menu headers (font styles) */
.front #content-inner .block-bean h2,
.block-menu h2 {
  border-bottom: solid 1px #CCC;
  background: none;
  color: #272727;
}

/* Misc spacing */
.node > .content, #comments,
.page-contact #content-wrapper {
  padding: 0;
}

/* Override colors from base theme (red) */
a, a:hover,
a:focus,
ul.menu li a.active,
ul.menu li a:hover,
#forum thead a:hover,
#block-node-recent .node-title a:hover,
ul.menu li a:focus,
#forum thead a:focus,
#block-node-recent .node-title a:focus {
  color: #002D5B;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
.dark input[type="submit"],
.highlighted-block .btn:hover,
.highlighted-block .btn:focus,
.call-to-action .btn,
.tag a:hover,
.tag a:focus {
  background-color: #fff;
  color: #262729;
  border: 2px solid #002D5B;
}

input.form-text:focus, textarea.form-textarea:focus {
  border-color: #002D5B;
  outline: 3px solid #002D5B;
}

/* Support Dashboard */

.support-dashboard-results .item-list ul li {
  border-bottom: none;
  padding: 0;
}

.support-dashboard-results .login-ok {
  color: green;
  font-weight: bold;
}

.support-dashboard-results .login-warning {
  color: red;
  font-weight: bold;
}

.support-dashboard-results .privacy-restriction {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

/* Forms */

.form-item .description {
  font-size: 1em;
}

/* Media Queries */

@media only screen and (min-width: 1150px) {

    .portal-cat {
        margin-left: 25px;
        margin-right: 25px;
    }

}

@media only screen and (min-width: 510px) {
  .new-window-info:hover:after,
  .new-window-info:focus:after,
  .new-window-info:active:after {
    display: block;
    position: absolute;
    width: 14em;
    border: 1px solid #595959;
    background-color: #dedede;
    color: #262729;
    text-align: center;
    z-index: 9999;
    bottom: 1.25em;
    left: 80%;
  }

}

@media only screen and (max-width: 1127px) {

  .portal-cat {
    max-width: 600px;
    margin: auto;
  }

  .portal-cat > .content {
    display: block;
  }

}

@media only screen and (max-width: 865px) {

  #dashboard {
    display: block;
  }

  .portal-cat .block {
    margin: 25px auto;
  }

  .region-dashboard-l {
    margin-bottom: 25px;
  }

}

@media only screen and (max-width: 510px) {

  .portal-tech-icon .block-menu,
  .portal-stud-icon .block-menu,
  .portal-acad-icon .block-menu,
  .portal-sss-icon .block-menu {
    background-image: none;
  }

  #block-search-form {
    margin-top: 1em;
  }

  #dashboard-inside-l {
    margin: 0;
  }

  .portal-cat .block {
    width: 100%;
  }

  .portal-cat > .content ul {
    padding-left: 0;
  }

  .portal-acad-icon > .content .block-menu > .content > ul.menu,
  .portal-stud-icon > .content .block-menu > .content > ul.menu,
  .portal-sss-icon > .content .block-menu > .content > ul.menu, .portal-cat > .content .block-menu > .content > ul.menu {
    margin: 10px auto;
  }

  .block-myhank-student-profile {
    margin-bottom: 10px;
  }

  #button-profile-info-toggle {
    margin-top: 5px;
  }

  .show-profile-info {
    justify-content: unset;
  }
}
