/**
 * @file
 * This file contains overrides for print media.
 */

@media print {

  html, body {
    border: 1px solid white;
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
    padding-top: 10px !important;
  }

  #header,
  #main-navigation,
  #breadcrumb,
  #section-footer,
  .edit-link,
  .refresh-link {
    display: none;
  }

  .print-logo {
    display: block;
    height:50px;
    width: 100%;
  }

  #page, #main, .container, img{
    padding: 0;
    margin: 0;
  }

  .view-it-projects-report .view-header {
    display: none;
  }
}
