/**
 * @file
 * This file contains theming for the webforms and form fields.
 */

form {
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  max-width: 100%;
  color: #262729;
  /* width: 800px; */ /* This was causing problems in https://newportal.hfcc.edu/faculty-and-staff/support */
  margin: .5em auto;
}

.form-item {
  position: relative;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  border: 1px solid #262729;
  padding: 1em 0.25em 0 0.25em;
  line-height: 1.5em;
  font-size: 1.2em;
  width: auto;
  max-width: 100%;
  background: #FFFFFF;
  color: #262729;
  min-width: 300px;
}

label {
  display: block;
  padding: 0;
  transition: top .2s ease, color .01s linear;
}

.field-multiple-table .field-label label {
  padding: 4px 10px;
}

label.hfc-float-position {
  padding: 4px 10px;
  position: absolute;
  top: .5em;
  color: #595959;
}

label.hfc-float-position:hover {
  color: #ccc;
}

label.hfc-float-label {
    top: -1.5em;
    color: #262729;
    background-color: #fff;
    padding: 0 4px 0 4px;
    margin-left: 4px;
    margin-top: 1em;
}

fieldset {
  border: 1px solid #CCCCCC;
  padding: 0.5em;
}

input[type="submit"] {
  margin: 0 .5em 0 0;
  padding: 0.3em;
  background-color: #CCCCCC;
  border: 2px solid rgba(0,0,0,0);
  color: #262729;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #FFFFFF;
  border: 2px solid #595959;
  color: #595959;
  text-decoration: none;
}

.form-reset-button {
  margin: 0 .5em 0 0;
  padding: 0.3em;
  background-color: #CCCCCC;
  border: 2px solid rgba(0,0,0,0);
  color: #262729;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
}

.form-reset-button:hover,
.form-reset-button:focus {
  background-color: #FFFFFF;
  border: 2px solid #595959;
  color: #595959;
  text-decoration: none;
}

input[type="submit"].webform-submit {
  background-color: #0054A6;
  color: #FFFFFF;
}

input[type="submit"].webform-submit:hover,
input[type="submit"].webform-submit:focus {
  background-color: #FFFFFF;
  border: 2px solid #0054A6;
  color: #0054A6;;
}

.fieldset-legend {
  font-size: 1em;
  line-height: 1.25em;
}

.webform-component-fieldset {
  margin-bottom: 1em;
}

.marker, .form-required {
  color: #B40000 !important;
}

.form-item .description {
  background: #f2f2f2;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 1em;
  font-size: 1em;
}

.fieldset-description {
  margin-bottom: 1em;
}

.draggable a.tabledrag-handle {
  border-bottom: 2px solid transparent;
}

.draggable a.tabledrag-handle:hover, .draggable a.tabledrag-handle:focus {
  background-color: #7FE5FF;
  border-bottom: 2px solid #262729;
}

td.field-multiple-drag label {
  display: inline-block;
}

/* File */
  .webform-component-file label {
    position: relative;
  }

/* Date Picker */

  .webform-component-date label,
  .webform-component-time label {
    position: relative;
  }

  .webform-component-date .webform-container-inline > div,
  .webform-component-time .webform-container-inline > div {
    display: inline-block;
  }

  .webform-component-date select,
  .webform-component-time select {
    padding: 0.25em;
  }

  .webform-component-time .form-radios > .form-item {
    display: inline-block;
    margin: 0.4em;
  }
/* Checkbox and Radios */
  .webform-component-radios label,
  .webform-component-checkboxes label {
    position: relative;
    padding: 0;
  }

  [type="radio"], [type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  [type="radio"] + label, [type="checkbox"] + label {
    display: block;
    position: relative;
    padding: 0;
  }

  [type="radio"] + label:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #fff;
    background-color: #fff;
    box-shadow: 0 0 0 2px #262729;
    margin-right: 0.55em;
    transition: background .2s ease;
    -o-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -webkit-transition: background .2s ease;
  }

  [type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.25em;
    border: 0.1em solid #fff;
    box-shadow: 0 0 0 2px #262729;
    background-color: #fff;
    margin-right: 0.75em;
    transition: background .2s ease;
    -o-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -webkit-transition: background .2s ease;
  }

  /* focus styling */
  [type="radio"]:focus + label:before, [type="radio"]:hover + label:before, [type="checkbox"]:focus + label:before,  [type="checkbox"]:hover + label:before{
    background: #b5b5b5;
    box-shadow: 0 0 0 4px #262729;
  }

  /* the checked style using the :checked pseudo class */
  [type="radio"]:checked + label:before, [type="checkbox"]:checked + label:before {
    background: #272829;
    box-shadow: 0 0 0 2px #272829;
  }

/* Progress Bar */

  .webform-progressbar-page {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    margin: -5px -4px;
  }

  .webform-progressbar-outer {
    background-color: #ccc;
    border: none;
  }

  .webform-progressbar-inner {
    background-color: #AAC54E;
  }

  .webform-progressbar-page.completed {
    background-color: #AAC54E;
  }

  .webform-progressbar-page.current {
    background-color: #AAC54E;
  }

  /* Label Exceptions */

  .views-exposed-widget > label,
  fieldset > label {
    display: block;
    position: relative;
  }

  [type="radio"] + label,
  [type="checkbox"] + label,
  .form-type-radios > label,
  .form-type-checkboxes > label,
  .webform-component-textarea > label,
  .form-type-managed-file label,
  .form-type-radios > label,
  .google-cse label {
    position: relative;
  }

  .search-form .container-inline div,
  .search-form .container-inline label {
    display: block;
  }

